.App {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.TodoList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TodoItem {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.TodoItem input {
  margin-right: 0.5rem;
}

.TodoItem button {
  color: #fff;
  background-color: red;
  border-radius: 1rem;
}

.TodoAdd {
  margin-bottom: 0.5rem;
}

.TodoAdd input {
  margin-right: 1rem;
}

.TodoAdd button {
  border-radius: 0.5rem;
}
